<DOCTYPE! html>
  <html>
    <head>
	  <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">	
	  <!-- link to jQuery -->
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	   <link rel="stylesheet" type="text/css" href="static/style.css">
      <title> Nuclear explosions data </title>
    </head>
    <body>
		<nav class="navbar navbar-default">
		  <div class="container-fluid">
			<div class="navbar-header">
			  <a class="navbar-brand" href=".">Nuclear explosions</a>
			</div>
			<ul class="nav navbar-nav">
			  <li  class="active"><a href="/">About the Data</a></li>
			  <li ><a href="/page2">Nuclear Test Per Year</a></li>
			  <li ><a href="/page3">Nuclear Test Conducted Per Country</a></li>
			  <li ><a href="/page4">Increase In Nuclear Test Per Year</a></li>
			  <li ><a href="/page5">The Effects Of These Bombs</a></li>
			</ul>
		  </div>
		</nav>
	  <div class="solid_border">
		<h1>Nuclear explosions</h1>
		<p>this website contians data about all folowing nuclear test up until the year 2000. This website uses information from</p> <a href="https://corgis-edu.github.io/corgis/json/nuclear_explosions/"> this data set.</a>
		<p>Our data shows that the biggest nuclear bomb (as far as TNT and shockwave goes) is the TSAR bomba detonated by the soviet union over the Novaya Zelya island with an explosion of about 50 megatons of TNT (50,000,000 pounds of TNT), for refrence the bomb dropped on Nagasaki that killed 60,000-74,000 people had an explosion of about 21 kilatons of TNT (26,000 pounds of TNT OR 0.021 megatons).
	        <p>So within this website you will be able to find information such as bombs dropped/tested per year, amount of bombs dropped/tested per country, along with a graph of the increase in nuclear bomb drops/test per year. This comes fromthe data set which includes inoformation such as, the name, the region it was dropped, the cordinates it was dropped, the type of test, the date, the source of the info, the yeild of the bomb in kilatons (the high and low estimte), the depth it was detonated from the ground, the reason the test was conducted, and the method in which they dropped/used the bomb</p>
	  </div>
	  <div class="solid_border">
		<h1>Trinity</h1>
		<p>June 16th 1945 at 5:29 a.m. J. Robert Oppenheimer and the manhatten project scientest watched night turn to day as an orange fireball lit up everything they could see. Bathed in a light unparrleld a sense of awe and dread washed upon them, for they had just watched the Trinity Test, the very first nuclear detonation in the history of man kind.</p>
		<p>This was the beginning of a new era brining the most destructive wepons known to man kind, the atomic bomb.</p>
		<img src="static/Trinity_shot_color.jpg" alt="Colored picture of trinity test 1945 credit: https://arena.org.au/wp-content/uploads/2020/07/Famous-color-photograph-of-the-22Trinity22-shot-the-first-nuclear-test-explosion.-Photograph-by-Jack-Aeby-July-16-1945-as-a-member-of-the-Special-Engineering-Detachment-at-Los-Alamos-laboratory.jpg" class="Right-float">
	  </div>
    </body>
  </html>

